
*{  
    display: flex;
    margin:0;
    padding:0;
   }
   a, a:visited {
    outline:none;
    color:white;
   }
   
   a:hover{
    box-shadow: 7px 13px 37px #000;
    transform: translateY(-15px);
   }
   
   section, footer, header, aside, nav{
    display: block;
   }
   
   nav{
    display:inline-block;
    margin:60px auto 45px;
    background-color: #e2cf24;
    background-size:100% ;
    
    box-shadow: 3px 3px 8px rgb(15, 6, 6);
    border-radius:2px;
   }
   nav a{
    display:inline-block;
    padding: 25px 55px;
    color:#fff !important;
    font-weight:bold;
    font-size:20px;
    text-decoration:none !important;
    line-height:1;
    text-transform: uppercase;
    background-color:transparent;
   
   -webkit-transition:background-color 0.25s;
    -moz-transition:background-color 0.25s;
    transition:background-color 0.25s;
   }
   
   nav a:first-child{
    border-radius:2px 0 0 2px;
   }
   
   nav a:last-child{
    border-radius:0 2px 2px 0;
   }
   
   nav.home .home,
   nav.projects .projects,
   nav.services .services,
   nav.contact .contact{
    background-color:#e2cf24;
   }
 