<div class="container">
  <div class="card">
    <img src="../../../assets/harry1.jpg" width="150" height="150" alt="imagen de perfil">
    <h2>Harry Potter</h2>
    <h3>J. K. Rowling</h3>
    <p> Harry Potter es una serie de novelas fantásticas en la que se describen las aventuras del joven aprendiz de magia y hechicería Harry Potter y sus amigos Hermione Granger y Ron Weasley, durante los años que pasan en el Colegio Hogwarts de Magia y Hechicería.</p>
  </div>
  <div class="card">
    <img src="../../../assets/anillos1.jpg" width="150" height="150" alt="imagen de perfil">
    <h2>Señor de los anillos</h2>
    <h3>J. R. R. Tolkien</h3>
    <p>  La novela narra el viaje del protagonista principal, Frodo Bolsón, hobbit de la Comarca, para destruir el Anillo Único y la consiguiente guerra que provocará el enemigo para recuperarlo, ya que es la principal fuente de poder de su creador, el Señor oscuro Sauron.</p>
  </div>
  <div class="card">
    <img src="../../../assets/maze1.jpg" width="150" height="150" alt="imagen de perfil">
    <h2>Maze runner</h2>
    <h3>James Dashner</h3>
    <p> La historia sigue a Thomas, un adolescente de 16 años que despierta dentro de un elevador en ascenso hasta llegar a un área rodeada por un laberinto. Mientras avanza la historia, irá desentrañando los secretos de porqué él y otros jóvenes fueron introducidos allí. </p>
  </div>
  <div class="card">
    <img src="../../../assets/principito1.jpg" width="150" height="150" alt="imagen de perfil">
    <h2>El Principito</h2>
    <h3>Antoine de Saint-Exupéry</h3>
    <p> El principito (en francés: Le Petit Prince) es una novela corta y la obra más famosa del escritor y aviador francés Antoine de Saint-Exupéry (1900-1944).​ </p>
  </div>
</div>