<div class="container">
  <div class="card">
    <img src="../../../assets/harry1.jpg" width="150" height="150" alt="imagen de perfil">
    <h2>Harry Potter</h2>
    <h3>La piedra filosofal</h3>
    <p> Harry Potter es una serie de novelas fantásticas escrita por la autora británica J. K. Rowling, en la que se describen las aventuras del joven aprendiz de magia y hechicería Harry Potter y sus amigos Hermione Granger y Ron Weasley, durante los años que pasan en el Colegio Hogwarts de Magia y Hechicería. El argumento se centra en la lucha entre Harry Potter y el malvado mago lord Voldemort, quien asesinó a los padres de Harry en su afán de conquistar el mundo mágico. </p>
  </div>
  <div class="card">
    <img src="../../../assets/anillos1.jpg" width="150" height="150" alt="imagen de perfil">
    <h2>Señor de los anillos</h2>
    <h3>La cominudad del anillo</h3>
    <p> Los Anillos de Poder fueron forjados en antiguos tiempos por los herreros Elfos, y Sauron, el Señor Oscuro, forjó el Anillo Único. Pero en una ocasión se lo quitaron, y aunque lo buscó por toda la Tierra Media nunca pudo encontrarlo. Al cabo de muchos años fue a caer casualmente en manos del hobbit Bilbo Bolsón. Sauron llegó a reunir todos los Grandes Anillos, pero continuaba buscando el Anillo Único que completaría el dominio de Mordor. Bilbo desapareció durante la celebración de su centesimodecimoprimer cumpleaños, y dejó a Frodo a cargo del Anillo, y con una peligrosa misión por delante: atravesar la Tierra Media, internarse en las sombras del País Oscuro y destruir el Anillo arrojándolo en las Grietas del Destino.</p>
  </div>
  <div class="card">
    <img src="../../../assets/maze1.jpg" width="150" height="150" alt="imagen de perfil">
    <h2>Maze runner</h2>
    <h3>Correr o morrir</h3>
    <p> The Maze Runner es una trilogía escrita por el autor estadounidense James Dashner, que comprende las novelas juveniles The Maze Runner (2009), The Scorch Trials (2010) y The Death Cure (2011). </p>
  </div>
  <div class="card">
    <img src="../../../assets/principito1.jpg" width="150" height="150" alt="imagen de perfil">
    <h2>El Principito</h2>
    <h3>Noveleta de Antoine de Saint-Exupéry</h3>
    <p> El principito (en francés: Le Petit Prince) es una novela corta y la obra más famosa del escritor y aviador francés Antoine de Saint-Exupéry (1900-1944).​ </p>
  </div>
</div>