
.card {
    width: 500px;
    height:400px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15%;
    border-radius: 2.5rem;
    background: rgba(255, 255, 255, 0.15);
    background-color: #e2cf24(136, 82, 54, 0.67);
    box-shadow: 7px 13px 37px #000;
    color: black;
    margin-top: 1rem;
}

@media (max-width: 75em) {
    .container {
            display: flex;
            flex-direction: column;
    }
}
.card:hover{
    box-shadow: 7px 13px 37px #000;
    transform: translateY(-15px);
}   
img {
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 7px 13px 37px #000;
}
.container {
    column-count: 2;
    column-gap: 20%;
    margin-top: 10px;
    margin-bottom: 10px;

}
h2 {
    margin-top: 10px;
    
}
p{
    margin-top: 5px;
    font-size: 12px;
    -webkit-text-stroke-color: #000;
}
